/* General HTML and body styling */
html {
  --s: 222px; /* control the size */
  --c1: #dedede;
  --c2: #ffffff;
  --c3: #ebebeb;

  background: repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 50%)
      calc(var(--s) / 2) calc(var(--s) * tan(30deg) / 2),
    repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 50%);
  background-size: var(--s) calc(var(--s) * tan(30deg));
}

body {
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/day-trading-2732x2732-13833.jpg'); /* Background image for the entire page */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Form container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8); /* Slight transparency to allow background image to show through */
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#company-logo {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* Form Title */
.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

/* Input fields styling */
.input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-container input {
  width: 100%;
  padding: 0.875rem;
  padding-left: 2.5rem; /* Space for icon */
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  font-size: 1rem;
  outline: none;
}

.input-container i {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  font-size: 1.25rem;
}

/* Submit button */
.submit {
  width: 100%;
  padding: 0.875rem;
  background-color: #4F46E5;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.submit:hover {
  background-color: #3b37c1;
}

/* Sign up link */
.signup-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.875rem;
}

.signup-link a {
  color: #4F46E5;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Responsive Design: Ensuring good layout on smaller screens */
@media (max-width: 768px) {
  .form-container {
    width: 90%;
    max-width: 100%;
  }

  #company-logo {
    width: 60px;
    height: 60px;
  }

  .header h1 {
    font-size: 24px;
  }
}
